body {
	
	font-family : courier new ;
}

h1 {
	text-align: center;
	border: 3px dotted #454545;
}

#p1{
	color: #34def3;
}
.desc{
	margin-top: 3px;
	position: relative;
	box-sizing: border-box;
	border: 3px #454545;
	border-style: inset double outset double;
	text-align: center;
	font-family: verdana;
}

div.gallery{
	border: 2px solid #0034ff;
}

div.gallery:hover{
	border: 5px solid #32efab;
}

div.gallery img {
	width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

.responsive{
	padding: 10px 10px ;
	float: left;
	width: 25%;
}

@media only screen and (max-width: 700px) {
	.responsive{
		width: 50%;
		margin: 6px 0px;
		float: left;
	}
}
@media only screen and (max-width : 500px) {
	.responsive{
		width: 75%;
		float: left;
		margin: 3px 0px;
	}
	
}

@media only screen and (max-width : 300px) {
	.responsive{
		width: 100%;
		float: left;
		margin: 3px 0px;
	}
	
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }