#responsive{
    background-color: aquamarine;
    padding: 10px 10px 10px 10px;
}
div.topnav a{
    text-decoration: none;
}
a:link{
    color: blue;
}
a:visited{
    color: red;
}
a:hover{
    color: coral;
}