.experience-item, .project-item, .education-item {
    margin-bottom: 15px;
}

ul {
    list-style: disc inside;
}

ul li {
    margin: 8px 0;
}

.project-item {
    background: #e2e2e2;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.project-item h3 {
    margin-top: 0;
}